<div class="container">
    </div> <%= image_tag("tealight.jpg", class: "img-responsive") %>
    <h1>Welcome to Sigil Candles</h1>
    <h2>made with real ingredients, for real people, by a real person.</h2>
</div>